{% extends 'base.html' %}
{% block body  %}


<p class="gift-message">Dear Chotay, Happy belated birthday! On this occasion, I wanted to give you a meaningful gift that I believe will be useful and make your life easier. I am thrilled to present you with a custom-made todo list website. It is designed specifically to help you organize your tasks, manage your time effectively, and achieve your goals. I know how important staying organized is to you, and I believe this website will be a valuable tool in accomplishing that. I am grateful to have you as my sister, and this gift is a small token of my appreciation for your constant support and love. I hope it brings you convenience, productivity, and a sense of accomplishment.</p>

{% endblock body  %}

